
button {
    margin: 5px;
    }
    
img {
    height: 300px;
    width: 300px;
    padding: 25px;
}

.gifDisplay {
    display: flex;
    align-items: center;
}

p {
    padding:0px 25px 0px 25px;

}

#giphy-form {
float: right;
padding:100px;
align-items: left; 

}
 